<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Member Insert</h1>
	<form action="/member/insert" method="post">
		<table>
			<tr>
				<th>Memberid</th>
				<td><input type="text" name="memberid"></td>
			</tr>
			<tr>
				<th>Memberpw</th>
				<td><input type="text" name="memberpw"></td>
			</tr>
			<tr>
				<th>Membername</th>
				<td><input type="text" name="membername"></td>
			</tr>
			<tr>
				<td colspan="2" align="right">
					<input type="submit" value="회원가입완료">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>